<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sc.crmsys.mapper.PermissionInformationBeanMapper">
  <resultMap id="BaseResultMap" type="com.sc.crmsys.bean.PermissionInformationBean">
    <id column="permission_number" jdbcType="VARCHAR" property="permissionNumber" />
    <result column="permission_name" jdbcType="VARCHAR" property="permissionName" />
    <result column="permission" jdbcType="VARCHAR" property="permission" />
    <result column="subfield_number" jdbcType="VARCHAR" property="subfieldNumber" />
    <result column="information_remarks" jdbcType="VARCHAR" property="informationRemarks" />
    <result column="information_last_time" jdbcType="TIMESTAMP" property="informationLastTime" />
    <result column="parent" jdbcType="VARCHAR" property="parent" />
  </resultMap>
  <sql id="Base_Column_List">
    permission_number, permission_name, permission, subfield_number, information_remarks, 
    information_last_time, parent
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from permission_information
    where permission_number = #{permissionNumber,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from permission_information
    where permission_number = #{permissionNumber,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.sc.crmsys.bean.PermissionInformationBean">
    insert into permission_information (permission_number, permission_name, 
      permission, subfield_number, information_remarks, 
      information_last_time, parent)
    values (#{permissionNumber,jdbcType=VARCHAR}, #{permissionName,jdbcType=VARCHAR}, 
      #{permission,jdbcType=VARCHAR}, #{subfieldNumber,jdbcType=VARCHAR}, #{informationRemarks,jdbcType=VARCHAR}, 
      #{informationLastTime,jdbcType=TIMESTAMP}, #{parent,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.sc.crmsys.bean.PermissionInformationBean">
    insert into permission_information
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="permissionNumber != null">
        permission_number,
      </if>
      <if test="permissionName != null">
        permission_name,
      </if>
      <if test="permission != null">
        permission,
      </if>
      <if test="subfieldNumber != null">
        subfield_number,
      </if>
      <if test="informationRemarks != null">
        information_remarks,
      </if>
      <if test="informationLastTime != null">
        information_last_time,
      </if>
      <if test="parent != null">
        parent,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="permissionNumber != null">
        #{permissionNumber,jdbcType=VARCHAR},
      </if>
      <if test="permissionName != null">
        #{permissionName,jdbcType=VARCHAR},
      </if>
      <if test="permission != null">
        #{permission,jdbcType=VARCHAR},
      </if>
      <if test="subfieldNumber != null">
        #{subfieldNumber,jdbcType=VARCHAR},
      </if>
      <if test="informationRemarks != null">
        #{informationRemarks,jdbcType=VARCHAR},
      </if>
      <if test="informationLastTime != null">
        #{informationLastTime,jdbcType=TIMESTAMP},
      </if>
      <if test="parent != null">
        #{parent,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sc.crmsys.bean.PermissionInformationBean">
    update permission_information
    <set>
      <if test="permissionName != null">
        permission_name = #{permissionName,jdbcType=VARCHAR},
      </if>
      <if test="permission != null">
        permission = #{permission,jdbcType=VARCHAR},
      </if>
      <if test="subfieldNumber != null">
        subfield_number = #{subfieldNumber,jdbcType=VARCHAR},
      </if>
      <if test="informationRemarks != null">
        information_remarks = #{informationRemarks,jdbcType=VARCHAR},
      </if>
      <if test="informationLastTime != null">
        information_last_time = #{informationLastTime,jdbcType=TIMESTAMP},
      </if>
      <if test="parent != null">
        parent = #{parent,jdbcType=VARCHAR},
      </if>
    </set>
    where permission_number = #{permissionNumber,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sc.crmsys.bean.PermissionInformationBean">
    update permission_information
    set permission_name = #{permissionName,jdbcType=VARCHAR},
      permission = #{permission,jdbcType=VARCHAR},
      subfield_number = #{subfieldNumber,jdbcType=VARCHAR},
      information_remarks = #{informationRemarks,jdbcType=VARCHAR},
      information_last_time = #{informationLastTime,jdbcType=TIMESTAMP},
      parent = #{parent,jdbcType=VARCHAR}
    where permission_number = #{permissionNumber,jdbcType=VARCHAR}
  </update>
  
  <select id="selectAllPermission" resultMap="PermissionListMap">
  	select p1.permission_number p1pnu, p1.permission_name p1pna, p2.permission_number p2pnu, p2.permission_name p2pna, p3.permission_number p3pnu, p3.permission_name p3pna from permission_information p1 left join permission_information p2 on p1.permission_number = p2.parent
left join permission_information p3 on p2.permission_number = p3.parent where p1.parent = 'top'
  </select>
  
  <select id="selectPermission" parameterType="java.lang.String" resultType="java.lang.String">
    select 
    permission_name
    from permission_information
    where information_remarks = #{permission}
  </select>
  
  <resultMap type="com.sc.crmsys.bean.PermissionInformationBean" id="PermissionListMap">
  	<id column="p1pnu" property="permissionNumber"/>
  	<result column="p1pna" property="permissionName"/>
  	<collection property="pmsInfoBean" ofType="com.sc.crmsys.bean.PermissionInformationBean" column="permission_number">
  		<id column="p2pnu" property="permissionNumber"/>
	  	<result column="p2pna" property="permissionName"/>
	  	<collection property="pmsInfoBean" ofType="com.sc.crmsys.bean.PermissionInformationBean" column="permission_number">
	  		<id column="p3pnu" property="permissionNumber"/>
		  	<result column="p3pna" property="permissionName"/>
 		</collection>
	 </collection>
  </resultMap>
  
</mapper>