<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sc.crmsys.mapper.TaskDetailBeanMapper">
  <resultMap id="BaseResultMap" type="com.sc.crmsys.bean.TaskDetailBean">
    <id column="task_detail_id" jdbcType="VARCHAR" property="taskDetailId" />
    <result column="task_id" jdbcType="VARCHAR" property="taskId" />
    <result column="employ_id" jdbcType="VARCHAR" property="employId" />
    <result column="task_detail_state" jdbcType="VARCHAR" property="taskDetailState" />
    <result column="company_id" jdbcType="VARCHAR" property="companyId" />
    <result column="task_detail_update_time" jdbcType="TIMESTAMP" property="taskDetailUpdateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    task_detail_id, task_id, employ_id, task_detail_state, company_id, task_detail_update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from task_detail
    where task_detail_id = #{taskDetailId,jdbcType=VARCHAR}
  </select>
  
  <select id="selectAll" resultMap="TaskDetailMap">
	SELECT * FROM task t INNER JOIN check_point cp ON t.check_point_id = cp.check_point_id INNER JOIN task_detail td
	on t.task_id = td.task_id INNER JOIN employ e ON td.employ_id = e.employ_id
	where t.task_update_time &gt;= date(now())
	and t.task_update_time  &lt; DATE_ADD(date(now()),INTERVAL 1 DAY) 
  </select>
  		
		
  <select id="selectAllTask" resultMap="TaskDetailMap">
  	SELECT * FROM task t INNER JOIN check_point cp ON t.check_point_id = cp.check_point_id INNER JOIN task_detail td
	on t.task_id = td.task_id INNER JOIN employ e ON td.employ_id = e.employ_id
	<where>
		<if test="t.taskStartTime != null">
			task_start_time &gt;= #{t.taskStartTime}
		</if>
		<if test="t.taskEndTime != null">
			and task_start_time &lt;= #{t.taskEndTime}
		</if>
		<if test="t.taskTitle != null">
			and (task_title like '%${t.taskTitle}%' or check_point_target like '%${t.taskTitle}%')
		</if>
	</where>
	order by task_update_time DESC
  </select>
  
  <resultMap type="com.sc.crmsys.bean.TaskDetailBean" id="TaskDetailMap">
  	<id column="task_detail_id" property="taskDetailId"/>
  	<result column="task_id" property="taskId"/>
  	<result column="employ_id" property="employId"/>
  	<result column="task_detail_state" property="taskDetailState"/>
  	<result column="company_id" property="companyId"/>
  	<result column="task_detail_update_time" property="taskDetailUpdateTime"/>
  	<association property="taskBean" javaType="com.sc.crmsys.bean.TaskBean" column="task_id">
	  	<id column="task_id" property="taskId"/>
	  	<result column="task_title" property="taskTitle"/>
	  	<result column="task_content" property="taskContent"/>
	  	<result column="task_person" property="taskPerson"/>
	  	<result column="task_start_time" property="taskStartTime"/>
	  	<result column="task_end_time" property="taskEndTime"/>
		<result column="company_id" property="companyId"/>
	  	<result column="task_update_time" property="taskUpdateTime"/>
	  	<result column="check_point_id" property="checkPointId"/>
    	<association property="checkPointBean" javaType="com.sc.crmsys.bean.CheckPointBean" column="check_point_id">
		  	<id column="check_point_id" property="checkPointId"/>
		  	<result column="check_point_target" property="checkPointTarget"/>
		  	<result column="check_point_info" property="checkPointInfo"/>
		  	<result column="company_id" property="companyId"/>
		  	<result column="check_point_update_time" property="checkPointUpdateTime"/>
  		</association>
  	</association>
    <association property="employBean" javaType="com.sc.crmsys.bean.EmployBean" column="employ_id">	
    	<id column="employ_id" property="employId"/>
	  	<result column="employ_name" property="employName"/>
	  	<result column="employ_sex" property="employSex"/>
	  	<result column="employ_img" property="employImg"/>
	  	<result column="employ_salary" property="employSalary"/>
	  	<result column="employ_identify" property="employIdentify"/>
	  	<result column="employ_address" property="employAddress"/>
	  	<result column="employ_education" property="employEducation"/>
	  	<result column="employ_politic" property="employPolitic"/>
	  	<result column="employ_school" property="employSchool"/>
	  	<result column="employ_phone" property="employPhone"/>
	  	<result column="check_state" property="checkState"/>
	  	<result column="job_id" property="jobId"/>
	  	<result column="employ_state" property="employState"/>
	  	<result column="company_id" property="companyId"/>
	  	<result column="employ_update_time" property="employUpdateTime"/>
    </association>
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from task_detail
    where task_detail_id = #{taskDetailId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.sc.crmsys.bean.TaskDetailBean">
    insert into task_detail (task_detail_id, task_id, employ_id, 
      task_detail_state, company_id, task_detail_update_time
      )
    values (#{taskDetailId,jdbcType=VARCHAR}, #{taskId,jdbcType=VARCHAR}, #{employId,jdbcType=VARCHAR}, 
      #{taskDetailState,jdbcType=VARCHAR}, #{companyId,jdbcType=VARCHAR}, #{taskDetailUpdateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.sc.crmsys.bean.TaskDetailBean">
    insert into task_detail
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="taskDetailId != null">
        task_detail_id,
      </if>
      <if test="taskId != null">
        task_id,
      </if>
      <if test="employId != null">
        employ_id,
      </if>
      <if test="taskDetailState != null">
        task_detail_state,
      </if>
      <if test="companyId != null">
        company_id,
      </if>
      <if test="taskDetailUpdateTime != null">
        task_detail_update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="taskDetailId != null">
        #{taskDetailId,jdbcType=VARCHAR},
      </if>
      <if test="taskId != null">
        #{taskId,jdbcType=VARCHAR},
      </if>
      <if test="employId != null">
        #{employId,jdbcType=VARCHAR},
      </if>
      <if test="taskDetailState != null">
        #{taskDetailState,jdbcType=VARCHAR},
      </if>
      <if test="companyId != null">
        #{companyId,jdbcType=VARCHAR},
      </if>
      <if test="taskDetailUpdateTime != null">
        #{taskDetailUpdateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sc.crmsys.bean.TaskDetailBean">
    update task_detail
    <set>
      <if test="taskId != null">
        task_id = #{taskId,jdbcType=VARCHAR},
      </if>
      <if test="employId != null">
        employ_id = #{employId,jdbcType=VARCHAR},
      </if>
      <if test="taskDetailState != null">
        task_detail_state = #{taskDetailState,jdbcType=VARCHAR},
      </if>
      <if test="companyId != null">
        company_id = #{companyId,jdbcType=VARCHAR},
      </if>
      <if test="taskDetailUpdateTime != null">
        task_detail_update_time = #{taskDetailUpdateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where task_detail_id = #{taskDetailId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sc.crmsys.bean.TaskDetailBean">
    update task_detail
    set task_id = #{taskId,jdbcType=VARCHAR},
      employ_id = #{employId,jdbcType=VARCHAR},
      task_detail_state = #{taskDetailState,jdbcType=VARCHAR},
      company_id = #{companyId,jdbcType=VARCHAR},
      task_detail_update_time = #{taskDetailUpdateTime,jdbcType=TIMESTAMP}
    where task_detail_id = #{taskDetailId,jdbcType=VARCHAR}
  </update>
</mapper>