.addr {
	display: inline-block;
	width: 100%;
	height: 40px;
}
.nar
{
	width: 80px;
	height: 40px;
}
.blankr
{
	width: 50px;
	margin-left: 28px;
}
.blankr2
{
	width: 50px;
	margin-left: 15px;
}
.blankr3
{
	width: 50px;
	margin-left: -13px;
}
.blankr4
{
	width: 50px;
	margin-left: 10px;
}
.bls_g
{
	
	
}
.btextr
{
	margin-top: -15px;
	margin-left: 90px;
}

.butrr
{
	width: 100%;
	height: 30px;
	font-size: 20px;
	line-height: 30px;
	padding-left: 5px;
}

.buttopr a
{
	color: rgb(171,177,186);
}
.baBody_r
{
	width: 100%;
	height: 1500px;
	margin-top: 20px;
	margin-left: 90px;

}
.table_r
{
	width: 87%;
	height: 500px;
	border:none;

}
.table_r td
{
	border: none;
}
.input1
{
	width: 300px;
	height: 40px;
	border: 1px solid #ccc;
	margin-left: 20px;
	text-indent: 15px;
}

.cfD label
{
	cursor: pointer;

}
.wsh
{
	color:  #6c6c6c;
}
.wsh:hover
{
	color: #f40;
}
.ytg
{
	color:  #6c6c6c;
}
.ytg:hover
{
	color: #f40;
}
.btg
{
	color:  #6c6c6c;
}
.btg:hover
{
	color: #f40;
}
.pagerr
{
	width: 100px;
	height: 50px;
	margin: 5px;
	
}
.backr
{
	width: 100px;
	height: 40px;
	line-height: 40px;
	background-color: #3695cc;
	color: #fff;
	margin-top: 50px;
	margin-right: 25px;
	font-size: 16px;
	cursor: pointer;
	text-align: center;
	margin-bottom: 160px;
	border: none;
	display:show;
}
.conShowr {
	
	display: none;
	z-index: 999;
	
}





